#about
  %span#herrkessler
    herrkessler.de
  %span#job
    web developer
  %span.divider 
    %em
      |
  %span#slogan
    working towards full stack...

#stars-wrapper
  - 200.times do
    .star

#death-star
  #bubble
    "Nobody calls Han Solo a bitch!"

#earth-wrapper

  .satelite.middleman
    %a.icon.middleman{href:'http://middlemanapp.com/'}
    %span.explanation.left
      I Like to work with
  .satelite.yeoman
    %a.icon.yeoman{href:'http://yeoman.io/'}
  .satelite.js
    %a.icon.js{href:'http://www.w3schools.com/jsref/'}
  .satelite.ruby
    %a.icon.ruby{href:'http://rubyonrails.org/'}
  .satelite.gulp
    %a.icon.gulp{href:'http://gulpjs.com/'}
  .satelite.bourbon
    %a.icon.bourbon{href:'http://bourbon.io/'}
  .satelite.node
    %a.icon.node{href:'http://nodejs.org/'}
  .satelite.grunt
    %a.icon.grunt{href:'http://gruntjs.com/'}
  .satelite.sinatra
    %a.icon.sinatra{href: 'http://sinatrarb.com'}
  .satelite.github
    %a.icon.github{href:'https://github.com/herrkessler'}
    %span.explanation.right
      Meet me at
  .satelite.twitter
    %a.icon.twitter{href:'https://twitter.com/herrkessler'}
  .satelite.flickr
    %a.icon.flickr{href:'https://www.flickr.com/photos/wangapoa/'}

  #sun
  #moon
  #earth
    #shadow
    #hello
      %span
        echo 
      %span
        'Hello World!'

  .cloud-wrapper.one
    .cloud
    .raindrop-wrapper
      - 1.upto(5) do
        .raindrop
  .cloud-wrapper.two
    .cloud
    .stroke
      .stroke-inner-one
      .stroke-inner-two
      .stroke-tip
    .raindrop-wrapper
      - 1.upto(5) do
        .raindrop
  .cloud-wrapper.three
    .cloud
    .raindrop-wrapper
      - 1.upto(5) do
        .raindrop
  .cloud-wrapper.four
    .cloud
    .stroke
      .stroke-inner-one
      .stroke-inner-two
      .stroke-tip
    .raindrop-wrapper
      - 1.upto(5) do
        .raindrop
  .cloud-wrapper.five
    .cloud
    .stroke
      .stroke-inner-one
      .stroke-inner-two
      .stroke-tip
    .raindrop-wrapper
      - 1.upto(5) do
        .raindrop
  .cloud-wrapper.six
    .cloud
    .raindrop-wrapper
      - 1.upto(5) do
        .raindrop
#fuck-overflow-bug-helper
  #flag
    = link_to('', 'http://boros.de')

#mountains
  .mountain.big
    %span
  .mountain.big
    %span
  .mountain.small
    %span
  .mountain.medium
    %span
  .mountain.medium
    %span
  .mountain.boros
    %span
  .mountain.small
    %span
  .mountain.medium
    %span
  .mountain.big
    %span
  .mountain.big
    %span
  .mountain.medium
    %span
  .mountain.big
    %span
  .mountain.small
    %span
  .mountain.small
    %span
  .mountain.small
    %span
  .mountain.medium
    %span
  .mountain.big
    %span
  .mountain.big
    %span
  .mountain.small.zweitag
    %span
      #flag-zweitag
        = link_to('', 'http://zweitag.de')
  .mountain.medium
    %span
  .mountain.medium
    %span
  .mountain.big
    %span
  .mountain.big
    %span
  .mountain.medium
    %span
  .mountain.big
    %span
  .mountain.small
    %span
  .mountain.small
    %span
  .mountain.medium
    %span
  .mountain.big
    %span
  .mountain.small
    %span
  .mountain.small
    %span
  .mountain.small
    %span
  .mountain.medium
    %span
  .mountain.big
    %span
  .mountain.big
    %span
  .mountain.small
    %span
  .mountain.medium
    %span
  .mountain.medium
    %span
  .mountain.big
    %span
  .mountain.big
    %span
  .mountain.medium
    %span
  .mountain.big
    %span
  .mountain.small
    %span
  .mountain.small
    %span

#impress
  %span
    Sebastian Kessler
  %span
    Thüringsberg 12
  %span
    42897 Remscheid
  %span.divider
    %em 
      |
  %a{href: "tel:+4915121224135"}
    015121224135
  %a{href: "mailto:sebastian@herrkessler.de"}
    sebastian@herrkessler.de
  %a{href: "http://www.herrkessler.de"}
    herrkessler.de